!!! XML
!!! Strict
%html{ html_attrs }

  %head
    %title Marks: antisocial bookmarking for you
    %link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css"}
    
  %body
    
    %h1 Marks Login
    
    %form#login{ :class => "openid_login", :method => "post", :action => "/login/openid" }
      %label{ :for => "openid_identifier" } Your OpenID
      %input{ :type => "text", :name => "openid_identifier", :style => "background: url(http://openid.net/images/login-bg.gif) no-repeat #FFF 5px; padding-left: 25px;" }
      %input{ :type => "submit", :value => "Login" }
      %a{ :href=> "http://openid.net/get", :title => "What is an OpenID? Where can I get one?" } ?
